*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared_style */
.description{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    opacity: 0.7;
   color: rgb(13, 19, 33);
   /* height: 200px; */
  padding-left:70px;
  padding-right:70px;
}

/* banner start here*/

.banner-nav{
    max-width: 1400px;
    display:flex;
    justify-content: space-between;
    padding:18px 80px;
    
}
.banner-nav h2{
    font-size: 24px;
    font-weight: 600px;
}
.banner-dbtn{
    border-radius: 8px;
    border:1px solid rgb(13, 19, 33);
    padding:15px;
    font-size: 18px;
    font-weight: 600px;
    color:rgb(13, 19, 33);
    opacity: 0.8;
    background-color: white;
    cursor: pointer;
}
.banner_container{
    max-width: 1400px;
    min-height: 500px;
    /* border:2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.banner_contain{
    /* border:2px solid blue; */
    width:70%;
    height: 80%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.banner_contain img{
    height: 200px;
    width:200px;
    
}
.banner_title{
    font-size:48px ;
    font-weight:900px;
    margin:24px;
    /* width:700px; */
    /* text-align: center; */
}
.banner_btn{
    height: 66px;
    width:208px;
    margin-top:32px;
    border-radius: 8px;
    border:none;
    padding:21px;
    font-size: 20px;
    font-weight: 600px;
    color:white;
    background: rgb(13, 19, 33);
    cursor: pointer;
}
/* main-section */

.first_section{
    /* border:1px solid red; */
    height:1300px;
    max-width:1000px;
    margin:70px auto;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:70px;
    gap:32px;
}
.first_section_title{
font-size: 32px;
font-weight: 800;
color: rgb(13, 19, 33);

}
.first_section_content{
    width:800px;
    height:300px;
    /* border:1px solid green; */
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.diif_color{
    background-image: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.first_section_subsection{
    max-width:90%;
    height:200px;
    /* border:1px solid blue; */
    margin:0 auto;
    margin-top:46px;
    margin-bottom:46px;
    display:flex;
    /* justify-content: space-between; */
    gap:20px;
  
}
.subsection_text{
width:70%;

padding:10px 0 10px 0;

}
.text_container{
 
    width:85%;
    height:100%;
}
.subsection_img{
    width:30%;
/* border:1px solid pink; */
}

.subsection_img img{
    width:100%;
}
.subsection_title{
    font-size: 24px;
    font-weight: 700px;
}
.subsection_des{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400px;
opacity: 0.7;
margin-top: 16px;
margin-bottom: 20px;
}
.subsection_btn{
    height:40px;
    width: 120px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
    color:rgb(13, 19, 33);
    padding:12px 20px;
    cursor: pointer;
}